.checkoutProduct {
    display: flex;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
}
.checkoutProduct__rating {
    display: flex;
}
.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button {
    max-width: 100px;
    min-width: 140px;
    padding: 0 5px;
    align-self: left;
}
/*
    refactor code by adding a class to the button
*/