*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


.checkout {
    /* margin-top: 100px; */
    display: flex;
    background-color: white;
    height: max-content;
    padding: 10px;
    height: 95vh;
}
.checkout__left {
    flex: 4;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
